@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {

    font-family: "Montserrat", sans-serif;
    

}


body{
    padding: 0;
    margin: 0;
    background-color:rgba(191, 214, 214, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
}

#form{
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
}


button {
    cursor: pointer;
    flex-direction: row; 
    position: relative;
}



select{

    cursor: pointer;
}

#save_table, #clear_data{
    display: none;
}

.input-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
  }
  
  .input-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
  }
  
  .input-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
  }
  
  .input-field input.dirty + .placeholder,
  .input-field input:focus + .placeholder,
  .input-field input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    font-size: 10px;
    color: #222;
  }
  
  .input-field .error-message {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    background: #d30909;
    color: #fff;
    height: 24px;
  }
  
  .input-field .error-message:empty {
    opacity: 0;
  }

/* TWO */
.input-field.two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
      linear-gradient(90deg, rgb(206, 219, 226), rgb(13, 111, 240)) center bottom/0 0.15em no-repeat,
      linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
      linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
    transition: background-size 0.1s ease;
  }
  
  #chartContainer{
    border-collapse: collapse;
    margin: 25px 15px;
    font-size: 0.9em;
    position: relative;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    height: 500px;
    
    width: 95%;
    max-width:1300px;
  }

  #display {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
  }
  
  
  
  #display caption{
      background-color: #009879;
      color: #f5f5f5;
      text-align: left;
      font-weight: bold;
  }
  
  
  #display thead tr {
      background-color: #009879;
  
      color: #ffffff;
      text-align: left;
      font-weight: bold;
  }
  
  #display th,
  #display td {
      padding: 12px 15px;
  
  }
  
  #display tbody tr {
      border-bottom: 1px solid #037760;

  
  }
  
  #display tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }



 